<h1>Category</h1>
<h2><%= @category.name %></h2>
<p>All shirts in this category:</p>
<section class="row">
  <% @category.shirts.each do |shirt| %>
    <article class="span3">
      <header><%= shirt.name %></header>
      <p><%= truncate shirt.description, separator: " " %></p>
      <%= image_tag shirt.image %>
      <%= link_to "Show", shirt %>
    </article>
  <% end %>
</section>
